/* HomeStyle CSS File */
.home-container {
    text-align: center;
    padding: 75px;

  }
  
  .mission-statement {
    font-size: 1.2em;
    margin: 20px 0;
  }
  
  .home-buttons {
    margin-top: 300px;
  }
  
  .home-buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .home-buttons .btn:hover {
    background-color: #555;
  }