/* Layout CSS File */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 15px;
  color: white;
  z-index: 1000;
}

.logo img {
  width: 75px;
  height: 56px;
  margin-right: 10px;
}
/*NavBar Implementation*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 25px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.content {
  padding: 10px;
}
/* 
 * File: LayoutStyle.css
 * Student's Name: Tanner Huntus
 * StudentID: 301331363
 * Date: 2024-10-01
 */