/* AboutStyle CSS File */
.about-container {
    text-align: center;
    padding: 100px;
  }
  
  .profile-photo {
    width: 300px;
    height: 400px;
    border-radius: 50%;
    margin: 20px 0;
  }
  
  h1, h2 {
    margin: 10px 0;
  }
  
  p {
    font-size: 1.2em;
    margin: 20px 0;
  }

  .btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #555;
  }
  /* 
 * File: AboutStyle.css
 * Student's Name: Tanner Huntus
 * StudentID: 301331363
 * Date: 2024-10-01
 */