/* ContactStyle CSS File */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  min-height: 100vh; /* Full viewport height */
  text-align: center;
  padding: 75px;
  box-sizing: border-box;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-form {
    max-width: 450px;
    width: 100%;
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .btn {
    display: inline-block;
    margin: 5px 150px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #555;
  }